.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 0px 10px 10px rgba(77, 160, 248, 0.13);
}

.topline {
    height: 75px;
    background: #0F2765;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main {
    height: 75px;
    display: flex;
    align-items: center;
    background: #fff;
}

.topline_block {
    display: flex;
    justify-content: flex-end;
}

.main_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select {
    outline: none;
    text-transform: uppercase;
    background: #0F2765;
    color: #fff;
    border: none;
    cursor: pointer;
}

.input {
    padding: 7px 36px 7px 20px;
    outline: none;
    border: 1px solid #DFE3E9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 20px;
}

.input:focus::placeholder {
    color: #fff;
}

.topline_block > a {
    transform: translateX(calc(-100% - 10px));
    display: flex;
    align-items: center;
}

.link {
    color: #0F2765;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.link > img {
    margin-right: 15px;
}

.navigation > ul {
    display: flex;
}

.navigation > ul > div {
    list-style: none;
    margin-right: 36px;
}

.navigation > ul > div:last-child {
    margin-right: 0;
}

.item > span {
    color: #333333;
    transition: all .3s;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.item > span:hover {
    color: #EB5757;
}

.active > span {
    color: #EB5757;
}

.ham {
    padding-top: 10px;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    text-decoration: none;
    transition: .3s;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.navigation.open {
    display: flex;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.navigation.open > ul {
    margin: 0;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
}

.navigation.open > ul > div {
    margin-bottom: 20px;
}

.navigation.open > ul > div > .item > span {
    color: #fff;
    font-size: 24px;
}

.navigation.open > ul > div > .active > span {
    color: #EB5757;
    font-size: 24px;
}

.line {
    display: block;
    height: 6px;
    width: 60%;
    background: #0F2765;
    border-radius: 10px;
    transform: translateY(-100%);
    transition: all .3s;
}

.line:nth-child(1) {
    width: 60%;
    transform: translateY(25%);
}

.line:nth-child(3) {
    width: 60%;
    transform: translateY(-200%);
}

.open {
    display: block;
}

.line:nth-child(1).open {
    transform: translateY(100%) rotate(-45deg) translate(-2px, 10px);
    background: #fff;
}

.line:nth-child(2).open {
    opacity: 0;
}

.line:nth-child(3).open {
    transform: translateY(-300%) rotate(45deg) translate(0px, -10px);
    background: #fff;
}

@media screen and (max-width: 1000px) {
	.navigation {
		display: none;
    }
    .ham {
        display: flex;
    }
}

@media screen and (max-width: 350px) {
    .topline_block {
        flex-direction: column;
        align-items: flex-end;
    }

    .select {
        margin-bottom: 5px;
    }

    .input {
        margin-left: 0;
    }
}