.message {
    padding: 130px 0 30px 0;
}

.block {
    height: 50vh;
    display: grid;
    place-items: center;
}

@media screen and (max-width: 1150px) {
    .message {
        padding: 30px 0;
    }
}